@{
    ViewData["Title"] = "Appointment Sessions";
}

@model AppointmentBookViewModel
<!--Breadcrumb navigation-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-white" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active text-white" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<div class="container-fluid">
    <h3>@ViewData["Title"]</h3>
    <div class="row mb-4">
        <div class="col">
            <a class="btn" asp-roles="PracticeAdmin" asp-controller="AppointmentBook" asp-action="CreateSession">
                <i class="fas fa-calendar-week fa-lg"></i> Create Appointment Session
            </a>
        </div>
    </div>
    <div class="row mb-4">
        <h4>Showing sessions from:<strong> @Model.Date</strong></h4>
    </div>
    <div class="row mb-4">
        <div class="col-2">
            <div class="form-group mt-4">
                <form asp-action="GetSessionsForDay">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Date" type="hidden" class="form-control" name="Date" value="@Model.Date.AddDays(-1)" />
                    <div class="form-group mt-4">
                        <input type="submit" value="<< Previous Day" class="btn btn-blue-grey" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <div class="form-group mt-4">
                <form asp-action="GetSessionsForDay">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label class="col-form-label" for="Date">Go to Date</label>
                    <input asp-for="Date" class="form-control" id="Date" name="Date" placeholder="DD/MM/YYY" type="date" />
                    <div class="form-group mt-4">
                        <input type="submit" value="Go" class="btn btn-blue-grey" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
            <div class="form-group mt-4">
                <form asp-action="GetSessionsForDay">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Date" type="hidden" class="form-control" name="Date" value="@Model.Date.AddDays(1)" />
                    <div class="form-group mt-4">
                        <input type="submit" value="Next Day >>" class="btn btn-blue-grey" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <!-- Loop for each appointment session returned in the ViewModel -->
            @if (Model?.AppointmentSessions?.Count > 0)
            {
                <div class="row card-group" style="">
                    @foreach (var session in Model.AppointmentSessions)
                    {
                        <div class="card m-0 table-blue-border">
                            <div class="card-body">
                                <h5 class="card-title">
                                    @(session?.MedicalPractitioner?.LastName + ", " + session?.MedicalPractitioner?.FirstName)
                                    <a class="btn-sm ml-4" data-toggle="modal" data-target="#deletesession" data-id="@session?.Id">
                                        <i class="far fa-trash-alt fa-lg rgba-red-strong" title="Delete Session"></i>
                                    </a>
                                </h5>
                                @if (@session?.AppointmentSlots?.Count > 0)
                                {
                                    <ul class="list-group list-group-flush">
                                        @foreach (var slot in session?.AppointmentSlots)
                                        {
                                            <li class="list-group-item">
                                                <asp-appointment-slot-text slot="@slot"></asp-appointment-slot-text>
                                                <a class="btn" asp-roles="PracticeAdmin, Reception" asp-controller="AppointmentBook" asp-action="CancelAppointment" asp-route-id="@slot.Id">
                                                    <asp-appointment-slot-icon status="@slot.State"></asp-appointment-slot-icon>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
<div class="modal fade" id="deletesession" tabindex="-1" role="dialog" aria-labelledby="deletesessionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletesessionLabel">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="message-text"></p>
            </div>
            <div class="modal-footer">
                <form asp-action="DeleteSession">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!-- hidden input for Id -->
                    <div id="deletesession"></div>

                    <!-- Confirm Delete and cancel buttons-->
                    <div class="form-group mt-4">
                        <input type="submit" value="Confirm Delete" class="btn btn-red-confirm" />
                        <button type="button" class="btn btn-grey-cancel" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $('#deletesession').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('id') // Extract info from data-* attributes
            var modal = $(this)
            modal.find('.modal-title').text('Confirm Delete Appointment Session')
            modal.find('.modal-body #message-text').text('Are you sure you want to delete the session. Note that this will also cancel any appointments currently booked to this session')
            modal.find('.modal-footer #deletesession').html('<input type="hidden" class="form-control" data-val="true" data-val-required="The Id field is required." id="Id" name="Id" value="' + id + '" />')
        })
    </script>

}

@section Head{
    <meta http-equiv="refresh" content="60">
}