<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MediBook.Web</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Material Design Bootstrap -->
    <link href="~/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Head", required: false)
</head>
<body>
    @using System.Security.Claims

    @{
        // extracting the custom user claim here
        var claimsIdentity = (ClaimsIdentity)User.Identity;
        var claim = claimsIdentity.Claims.FirstOrDefault(x => string.Compare(x.Type, "Id", StringComparison.InvariantCultureIgnoreCase) == 0);
        var claimName = claimsIdentity.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name);
        // extract user id from claim
        var id = claim != null ? claim.Value : string.Empty;
        TempData["userId"] = id;
        TempData["username"] = claimName != null ? claimName.Value : string.Empty;
    }
    <header>
        @{
            if (User?.Identity == null || User.Identity.IsAuthenticated)
            {
                <nav class="navbar navbar-expand-sm navbar-light bg-dark-bl border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">MediBook.Web</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item ml-2">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home fa-lg" title="Home"></i>Home</a>
                                </li>
                                <li class="nav-item ml-2">
                                    <a class="nav-link text-white" asp-area="" asp-roles="PracticeAdmin" asp-controller="UserAdmin" asp-action="Index"><i class="fas fa-users-cog fa-lg" title="User Admin"></i>User Administration</a>
                                </li>
                                <li class="nav-item ml-2">
                                    <a class="nav-link text-white" asp-area="" asp-roles="PracticeAdmin,Reception,MedicalPractitioner" asp-controller="Patient" asp-action="Index"><i class="far fa-user-circle fa-lg" title="Patients"></i>Patients</a>
                                </li>
                                <li class="nav-item ml-2">
                                    <a class="nav-link text-white" asp-area="" asp-roles="PracticeAdmin,Reception,MedicalPractitioner" asp-controller="AppointmentBook" asp-action="Index"><i class="far fa-calendar fa-lg" title="Appointments"></i>Appointment Book</a>
                                </li>
                                <li class="nav-item ml-2">
                                    <a class="nav-link text-white" asp-area="" asp-roles="Patient" asp-controller="PatientRecord" asp-action="Index"><i class="far fa-calendar fa-lg" title="Appointments"></i>Patient Appointments</a>
                                </li>
                                <li class="nav-item ml-2">
                                    <a class="nav-link text-white" asp-area="" asp-roles="PracticeAdmin,Reception,MedicalPractitioner,Patient" asp-controller="Auth" asp-action="Logout"><i class="fas fa-sign-out-alt fa-lg" title="Logout"></i>Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            }
            else
            {
                <nav class="navbar navbar-expand-sm navbar-light bg-dark-bl border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">MediBook.Web</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </nav>
            }
        }

    </header>
    <div class="container">
        <!-- Render alerts -->
        <partial name="_RenderAlert" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="float-left">&copy; 2021 - MediBook.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></div>
            </div>
            <div>
                @if (User?.Identity == null || User.Identity.IsAuthenticated)
                {
                    <div class="float-right">Logged in User: @TempData["username"]</div>
                }
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/js/mdb.min.js"></script>
    <script>
        // SideNav Button Initialization
        $(".button-collapse").sideNav({
            breakpoint: 50,
            showOverlay: false
        });
        // SideNav Scrollbar Initialization
        var sideNavScrollbar = document.querySelector('.custom-scrollbar');
        var ps = new PerfectScrollbar(sideNavScrollbar);
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
