<div class="card w-100" style=" margin:auto;">
    @if (@Model?.SearchResults.Patients.Count > 0)
    {
        <table class="table table-striped">
            <thead class="">
            <tr>
                <th scope="col">Patient Id</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Mobile Phone</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody class="bg-white">
            <!-- Loop to print out the user accounts -->
            @foreach (var patient in Model.SearchResults.Patients)
            {
                <tr>
                    <td>@patient.Id</td>
                    <td><a asp-action="Details" asp-route-id="@patient.Id">@patient.Lastname, @patient.Firstname</a>
                    </td>
                    <td>@patient.PhoneNumber</td>
                    <td>@patient.MobilePhone</td>
                    <td>
                        <a class="btn-sm" asp-action="Details" asp-route-id="@patient.Id">
                            <i class="fas fa-file-medical fa-lg" title="Patient Details"></i>
                        </a>
                        <a class="btn-sm" asp-action="Edit" asp-route-id="@patient.Id">
                            <i class="fas fa-user-edit fa-lg" title="Edit Patient"></i>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No patients found matching the original search term:"@Model?.SearchCriteria?.SearchTerm"</p>
    }
</div>