@{
    ViewData["Title"] = "Search Results";
}

@model SearchResultsViewModel
<!--Breadcrumb navigation-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-white" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a class="text-white" asp-controller="Patient" asp-action="Index">Patient Administration</a></li>
        <li class="breadcrumb-item"><a class="text-white" asp-controller="Patient" asp-action="Search">Search</a></li>
        <li class="breadcrumb-item active text-white" aria-current="page">Search Results</li>
    </ol>
</nav>
<div class="row mb-4">
    <div class="col">
        <a class="btn table-blue-border" asp-controller="Patient" asp-action="Search">
            <i class="fas fa-search fa-lg"></i> Search Again
        </a>
    </div>
</div>
<div class="card table-blue-border w-50" style=" margin:auto;">
    <h3 class="card-header thead-blue">@ViewData["Title"]</h3>
    @if (@Model.Patients.Any())
    {
        <table class="table table-striped">
            <thead class="">
            <tr>
                <th scope="col">Patient Id</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Mobile Phone</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody class="bg-white">
                <!-- Loop to print out the user accounts -->
                @foreach (var patient in Model.Patients)
                {
                    <tr>
                        <td>@patient.Id</td>
                        <td><a asp-action="Details" asp-route-id="@patient.Id">@patient.Lastname, @patient.Firstname</a>
                        </td>
                        <td>@patient.PhoneNumber</td>
                        <td>@patient.MobilePhone</td>
                        <td>
                            <a class="btn-sm" asp-action="Details" asp-route-id="@patient.Id">
                                <i class="fas fa-file-medical fa-lg" title="Patient Details"></i>
                            </a>
                            <a class="btn-sm" asp-action="Edit" asp-route-id="@patient.Id">
                                <i class="fas fa-user-edit fa-lg" title="Edit User"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No patients found matching the original search term:"@Model.OriginalSearchTerm"</p>
    }
</div>